# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushtobe,KZ,45.2514,77.9838,34.18,68,60,3.96,broken clouds
1,1,Deputatskiy,RU,69.3000,139.9000,-21.24,99,57,4.25,broken clouds
2,2,Akureyri,IS,65.6835,-18.0878,37.51,100,100,5.26,overcast clouds
3,3,Mataura,NZ,-46.1927,168.8643,77.11,34,0,0.22,clear sky
4,4,Necochea,AR,-38.5473,-58.7368,63.70,67,70,4.59,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Mataura,NZ,-46.1927,168.8643,77.11,34,0,0.22,clear sky
4,4,Necochea,AR,-38.5473,-58.7368,63.70,67,70,4.59,broken clouds
5,5,Tunceli,TR,39.1083,39.5471,45.46,83,49,3.00,scattered clouds
7,7,Ushuaia,AR,-54.8000,-68.3000,44.26,65,20,11.50,few clouds
8,8,Bethel,US,41.3712,-73.4140,59.36,79,0,5.75,clear sky
11,11,Lucapa,AO,-8.4192,20.7447,62.92,99,100,2.24,overcast clouds
12,12,Cordele,US,31.9635,-83.7824,68.72,88,100,11.50,moderate rain
13,13,Nortelandia,BR,-14.4547,-56.8028,74.44,78,7,5.21,heavy intensity rain
14,14,Diapaga,BF,12.0708,1.7889,79.07,27,100,4.65,overcast clouds
15,15,Richards Bay,ZA,-28.7830,32.0377,67.89,86,97,3.44,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Mataura,NZ,-46.1927,168.8643,77.11,34,0,0.22,clear sky
4,4,Necochea,AR,-38.5473,-58.7368,63.70,67,70,4.59,broken clouds
5,5,Tunceli,TR,39.1083,39.5471,45.46,83,49,3.00,scattered clouds
7,7,Ushuaia,AR,-54.8000,-68.3000,44.26,65,20,11.50,few clouds
8,8,Bethel,US,41.3712,-73.4140,59.36,79,0,5.75,clear sky
11,11,Lucapa,AO,-8.4192,20.7447,62.92,99,100,2.24,overcast clouds
12,12,Cordele,US,31.9635,-83.7824,68.72,88,100,11.50,moderate rain
13,13,Nortelandia,BR,-14.4547,-56.8028,74.44,78,7,5.21,heavy intensity rain
14,14,Diapaga,BF,12.0708,1.7889,79.07,27,100,4.65,overcast clouds
15,15,Richards Bay,ZA,-28.7830,32.0377,67.89,86,97,3.44,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

            City Country  Max Temp   Current Description      Lat       Lng
3        Mataura      NZ     77.11             clear sky -46.1927  168.8643
4       Necochea      AR     63.70         broken clouds -38.5473  -58.7368
5        Tunceli      TR     45.46      scattered clouds  39.1083   39.5471
7        Ushuaia      AR     44.26            few clouds -54.8000  -68.3000
8         Bethel      US     59.36             clear sky  41.3712  -73.4140
11        Lucapa      AO     62.92       overcast clouds  -8.4192   20.7447
12       Cordele      US     68.72         moderate rain  31.9635  -83.7824
13   Nortelandia      BR     74.44  heavy intensity rain -14.4547  -56.8028
14       Diapaga      BF     79.07       overcast clouds  12.0708    1.7889
15  Richards Bay      ZA     67.89       overcast clouds -28.7830   32.0377

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Mataura,NZ,77.11,clear sky,-46.1927,168.8643,
4,Necochea,AR,63.70,broken clouds,-38.5473,-58.7368,
5,Tunceli,TR,45.46,scattered clouds,39.1083,39.5471,
7,Ushuaia,AR,44.26,few clouds,-54.8000,-68.3000,
8,Bethel,US,59.36,clear sky,41.3712,-73.4140,
11,Lucapa,AO,62.92,overcast clouds,-8.4192,20.7447,
12,Cordele,US,68.72,moderate rain,31.9635,-83.7824,
13,Nortelandia,BR,74.44,heavy intensity rain,-14.4547,-56.8028,
14,Diapaga,BF,79.07,overcast clouds,12.0708,1.7889,
15,Richards Bay,ZA,67.89,overcast clouds,-28.7830,32.0377,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Mataura,NZ,77.11,clear sky,-46.1927,168.8643,Ellie's Villa
4,Necochea,AR,63.70,broken clouds,-38.5473,-58.7368,dyd -mar Hotel
5,Tunceli,TR,45.46,scattered clouds,39.1083,39.5471,Grand Hotel Şaroğlu
7,Ushuaia,AR,44.26,few clouds,-54.8000,-68.3000,Albatross Hotel
8,Bethel,US,59.36,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
11,Lucapa,AO,62.92,overcast clouds,-8.4192,20.7447,Lírio Mendes
12,Cordele,US,68.72,moderate rain,31.9635,-83.7824,Ramada by Wyndham Cordele
13,Nortelandia,BR,74.44,heavy intensity rain,-14.4547,-56.8028,Pousada e Restaurante Santana
14,Diapaga,BF,79.07,overcast clouds,12.0708,1.7889,Hôtel GACILIE
15,Richards Bay,ZA,67.89,overcast clouds,-28.7830,32.0377,BON Hotel Waterfront Richards Bay

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Mataura,NZ,77.11,clear sky,-46.1927,168.8643,Ellie's Villa
4,Necochea,AR,63.70,broken clouds,-38.5473,-58.7368,dyd -mar Hotel
5,Tunceli,TR,45.46,scattered clouds,39.1083,39.5471,Grand Hotel Şaroğlu
7,Ushuaia,AR,44.26,few clouds,-54.8000,-68.3000,Albatross Hotel
8,Bethel,US,59.36,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
11,Lucapa,AO,62.92,overcast clouds,-8.4192,20.7447,Lírio Mendes
12,Cordele,US,68.72,moderate rain,31.9635,-83.7824,Ramada by Wyndham Cordele
13,Nortelandia,BR,74.44,heavy intensity rain,-14.4547,-56.8028,Pousada e Restaurante Santana
14,Diapaga,BF,79.07,overcast clouds,12.0708,1.7889,Hôtel GACILIE
15,Richards Bay,ZA,67.89,overcast clouds,-28.7830,32.0377,BON Hotel Waterfront Richards Bay

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = 'WeatherPy_vacation.csv'

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

["\n<dl>\n<dt>Hotel Name</dt><dd>Ellie's Villa</dd>\n<dt>City</dt><dd>Mataura</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>clear sky and 77.11 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>dyd -mar Hotel</dd>\n<dt>City</dt><dd>Necochea</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 63.7 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grand Hotel Şaroğlu</dd>\n<dt>City</dt><dd>Tunceli</dd>\n<dt>Country</dt><dd>TR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 45.46 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Albatross Hotel</dd>\n<dt>City</dt><dd>Ushuaia</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>few clouds and 44.26 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Courtyard by Marriott Danbury</dd>\n<dt>City</dt><dd>Bethel</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 59.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lírio Mendes</dd>\n<dt>City</dt><dd>Lucapa</dd>\n<dt>Country</dt><dd>AO</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 62.92 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Ramada by Wyndham Cordele</dd>\n<dt>City</dt><dd>Cordele</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>moderate rain and 68.72 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada e Restaurante Santana</dd>\n<dt>City</dt><dd>Nortelandia</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>heavy intensity rain and 74.44 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel GACILIE</dd>\n<dt>City</dt><dd>Diapaga</dd>\n<dt>Country</dt><dd>BF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.07 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>BON Hotel Waterfront Richards Bay</dd>\n<dt>City</dt><dd>Richards Bay</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 67.89 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
3  -46.1927  168.8643
4  -38.5473  -58.7368
5   39.1083   39.5471
7  -54.8000  -68.3000
8   41.3712  -73.4140
11  -8.4192   20.7447
12  31.9635  -83.7824
13 -14.4547  -56.8028
14  12.0708    1.7889
15 -28.7830   32.0377

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [18]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))